Repository savini98/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: jac-format, jac-check, ban-em-dashes

Path conditions:
  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)
)
  jac-check: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$|jac-client/jac_client/examples/)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)
)
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)


stage 1 changes
  jac-byllm/byllm/streaming_parser.jac
  jac-byllm/byllm/streaming_parser_test.jac
Due: jac-format, jac-check

stage 1 complete
  jac-byllm/byllm/impl/mtir.impl.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.impl/mockllm.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/mtir.jac
  jac-byllm/byllm/streaming_parser.jac
  jac-byllm/tests/fixtures/structured_streaming_basic.jac
  jac-byllm/tests/fixtures/structured_streaming_smart_default.jac
  jac-byllm/tests/fixtures/structured_streaming_with_tools.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format, jac-check

stage 2 complete
  jac-byllm/byllm/impl/mtir.impl.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/memory.jac
  jac-byllm/byllm/mtir.jac
  jac-byllm/tests/fixtures/memory_basic.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format, jac-check

stage 3 completed
  jac-byllm/byllm/impl/mtir.impl.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/memory.jac
  jac-byllm/byllm/mtir.jac
  jac-byllm/tests/fixtures/memory_age_policy.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format, jac-check

byllm memory: wire reference detection through streaming + create edges
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/memory.jac
  jac-byllm/tests/fixtures/memory_reference_detection.jac
Due: jac-format, jac-check

implementation
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/typed_compaction.jac
  jac-byllm/tests/fixtures/memory_reference_aware.jac
  jac-byllm/tests/fixtures/memory_typed_compaction.jac
  jac-byllm/tests/test_byllm.jac
Due: jac-format, jac-check

ContextGraph implementation (in-flight work) before upstream integration
  jac-byllm/byllm/context.jac
  jac-byllm/byllm/impl/mtir.impl.jac
  jac-byllm/byllm/llm.impl/basellm.impl.jac
  jac-byllm/byllm/llm.jac
  jac-byllm/byllm/mtir.jac
  jac-byllm/byllm/typed_compaction.jac
  jac-byllm/tests/fixtures/context_age_policy.jac
  jac-byllm/tests/fixtures/context_basic.jac
  jac-byllm/tests/fixtures/context_materialize_pruning_integration.jac
  jac-byllm/tests/fixtures/context_materialize_unit.jac
  jac-byllm/tests/fixtures/context_reference_aware.jac
  jac-byllm/tests/fixtures/context_reference_detection.jac
  jac-byllm/tests/fixtures/context_typed_compaction.jac
Due: jac-format, jac-check

--graphmend flag plumbing
  jac/jaclang/cli/commands/execution.jac
  jac/jaclang/cli/commands/impl/execution.impl.jac
  jac/jaclang/jac0core/compile_options.jac
  jac/jaclang/jac0core/impl/compiler.impl.jac
Due: jac-format, jac-check

GraphMend detection
  jac/jaclang/compiler/passes/main/graphmend/__init__.py
  jac/jaclang/compiler/passes/main/graphmend/graph_break_detect_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/torch_attr_table.jac
  jac/jaclang/jac0core/compiler.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/side_effect.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/val_guard.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_return.jac
  jac/tests/compiler/passes/main/test_graphmend_detect.jac
Due: jac-format, jac-check

predicate data-dependent control flow to torch.where
  jac/jaclang/compiler/passes/main/graphmend/graph_break_detect_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/jaclang/jac0core/compiler.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/different_callees.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/hasattr_static.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_assign.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_common_call.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_item_return.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_multi_arg.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_multi_stmt.jac
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
  jac/tests/compiler/passes/main/test_graphmend_detect.jac
Due: jac-format, jac-check

defer print/logger side effects to a post-graph buffer flush
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/jaclang/jac0core/compiler.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/jaclib.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/logger_kwargs.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/side_effect_early_return.jac
  jac/tests/compiler/passes/main/test_graphmend_side_effect.jac
Due: jac-format, jac-check

trap lowering
  jac/jaclang/compiler/passes/main/graphmend/trap_lowering_pass.jac
  jac/jaclang/jac0core/compiler.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/jaclib.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/val_guard.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/val_guard_all.jac
  jac/tests/compiler/passes/main/test_graphmend_trap_lowering.jac
Due: jac-format, jac-check

tweak side effect handling
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/side_effect.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/side_effect_logger.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/val_guard_all.jac
  jac/tests/compiler/passes/main/test_graphmend_integration.py
  jac/tests/compiler/passes/main/test_graphmend_side_effect.jac
Due: jac-format, jac-check

new tweaks
  jac/jaclang/cli/commands/execution.jac
  jac/jaclang/cli/commands/impl/execution.impl.jac
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/graph_break_detect_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/jaclang/jac0core/impl/compiler.impl.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/jaclib.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/jaclang/meta_importer.py
  jac/tests/compiler/passes/main/fixtures/graphmend/cond_assign.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/logger_forward_hook.py
  jac/tests/compiler/passes/main/fixtures/graphmend/py_callsite_module.py
  jac/tests/compiler/passes/main/fixtures/graphmend/py_side_effect.py
  jac/tests/compiler/passes/main/fixtures/graphmend/py_val_guard.py
  jac/tests/compiler/passes/main/fixtures/graphmend/py_where_return.py
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
  jac/tests/compiler/passes/main/test_graphmend_integration.py
  jac/tests/compiler/passes/main/test_graphmend_py_support.jac
Due: jac-format, jac-check

new changes
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/jaclang/jac0core/compiler.jac
  jac/jaclang/jac0core/impl/compiler.impl.jac
  jac/scripts/benchmark_graphmend.py
  jac/tests/compiler/passes/main/fixtures/graphmend/nested_guard_in_branch.jac
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
  jac/tests/compiler/passes/main/test_graphmend_integration.py
Due: jac-format, jac-check, ban-em-dashes

new changhes
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
Due: ban-em-dashes

Add GraphMend paper reproduction harness (break-elimination + correctness)
  jac/paper_eval/.gitignore
  jac/paper_eval/README.md
  jac/paper_eval/__init__.py
  jac/paper_eval/_runner.py
  jac/paper_eval/registry.py
  jac/paper_eval/run_eval.py
Due: ban-em-dashes

Port ContextGraph + structured streaming into jaclang.byllm (rebase onto 0.31.0 main)
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/impl/mtir.impl.jac
  jac/jaclang/byllm/llm.impl/basellm.impl.jac
  jac/jaclang/byllm/llm.impl/mockllm.impl.jac
  jac/jaclang/byllm/llm.jac
  jac/jaclang/byllm/mtir.jac
  jac/jaclang/byllm/streaming_parser.jac
  jac/jaclang/byllm/tests/fixtures/context_age_policy.jac
  jac/jaclang/byllm/tests/fixtures/context_basic.jac
  jac/jaclang/byllm/tests/fixtures/context_materialize_pruning_integration.jac
  jac/jaclang/byllm/tests/fixtures/context_materialize_unit.jac
  jac/jaclang/byllm/tests/fixtures/context_reference_aware.jac
  jac/jaclang/byllm/tests/fixtures/context_reference_detection.jac
  jac/jaclang/byllm/tests/fixtures/context_typed_compaction.jac
  jac/jaclang/byllm/tests/fixtures/streaming_structured_no_handler.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_basic.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_smart_default.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_with_tools.jac
  jac/jaclang/byllm/tests/test_byllm.jac
  jac/jaclang/byllm/tests/test_streaming_parser.jac
  jac/jaclang/byllm/typed_compaction.jac
Due: jac-format, jac-check

Align ContextGraph port with codebase style and comment conventions
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/impl/mtir.impl.jac
  jac/jaclang/byllm/llm.impl/basellm.impl.jac
  jac/jaclang/byllm/llm.impl/mockllm.impl.jac
  jac/jaclang/byllm/mtir.jac
  jac/jaclang/byllm/streaming_parser.jac
  jac/jaclang/byllm/tests/fixtures/context_age_policy.jac
  jac/jaclang/byllm/tests/fixtures/context_basic.jac
  jac/jaclang/byllm/tests/fixtures/context_materialize_pruning_integration.jac
  jac/jaclang/byllm/tests/fixtures/context_materialize_unit.jac
  jac/jaclang/byllm/tests/fixtures/context_reference_aware.jac
  jac/jaclang/byllm/tests/fixtures/context_reference_detection.jac
  jac/jaclang/byllm/tests/fixtures/context_typed_compaction.jac
  jac/jaclang/byllm/tests/fixtures/streaming_structured_no_handler.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_basic.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_smart_default.jac
  jac/jaclang/byllm/tests/fixtures/structured_streaming_with_tools.jac
  jac/jaclang/byllm/tests/test_byllm.jac
  jac/jaclang/byllm/tests/test_streaming_parser.jac
  jac/jaclang/byllm/typed_compaction.jac
Due: jac-format, jac-check

fix(byllm): update ContextGraph sort-key lambdas to v0.31.3 braced syntax
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/typed_compaction.jac
Due: jac-format, jac-check

Gate hasattr-init hoisting on confinement, not just the hasattr shape
  jac/jaclang/compiler/passes/main/graphmend/REVIEWER_HOISTED_STATE.md
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/guard_attr_escapes.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/guard_body_effects.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/guard_key_mismatch.jac
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
Due: jac-format, jac-check, ban-em-dashes

Apply jac fmt to the GraphMend passes
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/jaclang/compiler/passes/main/graphmend/trap_lowering_pass.jac
Due: jac-format, jac-check

paper_eval: add Phi-4-mini so [Where] is covered on real model code
  jac/paper_eval/README.md
  jac/paper_eval/registry.py
Due: ban-em-dashes

[Defer]: flush deferred logger calls when the forward raises
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/logger_forward_hook_raises.py
  jac/tests/compiler/passes/main/test_graphmend_integration.py
Due: jac-format, jac-check, ban-em-dashes

[Defer]: drain deferred effects from an eager boundary guard on every exit
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/jaclib.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/side_effect_raises.jac
  jac/tests/compiler/passes/main/test_graphmend_integration.py
  jac/tests/compiler/passes/main/test_graphmend_py_support.jac
  jac/tests/compiler/passes/main/test_graphmend_side_effect.jac
Due: jac-format, jac-check, ban-em-dashes

[Where] G5: verify the speculated initializer is pure and non-raising
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/guard_impure_init.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/where_multi_stmt.jac
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
Due: jac-format, jac-check, ban-em-dashes

docs: correct the reviewer note that said initializer purity was unachievable
  jac/jaclang/compiler/passes/main/graphmend/REVIEWER_HOISTED_STATE.md
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
Due: jac-format, jac-check, ban-em-dashes

Verify [Trap] on real transformers source instead of adding a misleading row
  jac/paper_eval/README.md
  jac/tests/compiler/passes/main/test_graphmend_integration.py
Due: ban-em-dashes

paper_eval: reproduce MoLFormer-XL, the paper's [Trap] model, 5 breaks -> 0
  jac/paper_eval/README.md
  jac/paper_eval/_runner.py
  jac/paper_eval/registry.py
  jac/paper_eval/run_eval.py
Due: ban-em-dashes

Hook the source loader so --graphmend-scope reaches Hub remote code
  jac/jaclang/__init__.py
  jac/jaclang/meta_importer.py
  jac/paper_eval/README.md
  jac/paper_eval/_runner.py
  jac/paper_eval/registry.py
Due: ban-em-dashes

Close out the remaining rebuttal items: cond rationale, D3 inputs, release note
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/paper_eval/_runner.py
  jac/paper_eval/run_eval.py
  release_notes/unreleased/jaclang/7881.feature.md
Due: ban-em-dashes

Fix an unsound [Where] rewrite found auditing the paper against the code
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/predicate_ctrl_flow_pass.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/call_vs_literal.jac
  jac/tests/compiler/passes/main/test_graphmend_ctrl_flow.jac
Due: jac-format, jac-check, ban-em-dashes

[Defer] A1: defer across inlined helpers to the compiled-region exit
  jac/jaclang/compiler/passes/main/graphmend/SEMANTIC_SAFETY.md
  jac/jaclang/compiler/passes/main/graphmend/defer_side_effect_pass.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
  jac/jaclang/jac0core/jaclib.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/se_in_helper.jac
  jac/tests/compiler/passes/main/test_graphmend_side_effect.jac
Due: jac-format, jac-check, ban-em-dashes

test(graphmend): pin the decorator-factory sibling-closure region chain
  jac/tests/compiler/passes/main/fixtures/graphmend/region_deco_entry.jac
  jac/tests/compiler/passes/main/fixtures/graphmend/region_deco_factory.jac
  jac/tests/compiler/passes/main/test_graphmend_region.jac
Due: jac-format, jac-check

fix(byllm): ContextRender pre-PR review fixes: safe compaction, paired overlay, history matching
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/context_render.jac
  jac/jaclang/byllm/impl/context.impl.jac
  jac/jaclang/byllm/impl/context_render.impl.jac
  jac/jaclang/byllm/impl/mtir.impl.jac
  jac/jaclang/byllm/impl/typed_compaction.impl.jac
  jac/jaclang/byllm/llm.impl/basellm.impl.jac
  jac/jaclang/byllm/mtir.jac
  jac/jaclang/byllm/tests/test_context.jac
  jac/jaclang/byllm/tests/test_context_render.jac
  jac/jaclang/byllm/tests/test_typed_compaction.jac
  jac/jaclang/byllm/typed_compaction.jac
  jac/jaclang/cli/docs/reference/plugins/byllm.md
  release_notes/unreleased/jaclang/0000.feature.md
Due: jac-format, jac-check, ban-em-dashes

feat(byllm): ContextRender context management for tool-calling agents
  jac/jaclang/byllm/config_loader.jac
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/context_render.jac
  jac/jaclang/byllm/impl/config_loader.impl.jac
  jac/jaclang/byllm/impl/context.impl.jac
  jac/jaclang/byllm/impl/context_render.impl.jac
  jac/jaclang/byllm/impl/mtir.impl.jac
  jac/jaclang/byllm/impl/typed_compaction.impl.jac
  jac/jaclang/byllm/lib.jac
  jac/jaclang/byllm/llm.impl/basellm.impl.jac
  jac/jaclang/byllm/mtir.jac
  jac/jaclang/byllm/plugin_config.jac
  jac/jaclang/byllm/tests/test_context.jac
  jac/jaclang/byllm/tests/test_context_render.jac
  jac/jaclang/byllm/tests/test_typed_compaction.jac
  jac/jaclang/byllm/typed_compaction.jac
  jac/jaclang/cli/docs/reference/plugins/byllm.md
  release_notes/unreleased/byllm/0000.feature.md
Due: jac-format, jac-check, ban-em-dashes

fix(byllm): ContextRender review follow-ups: restorable backstop, unseen results, media, bounded caches
  jac/jaclang/byllm/context.jac
  jac/jaclang/byllm/context_render.jac
  jac/jaclang/byllm/impl/context.impl.jac
  jac/jaclang/byllm/impl/context_render.impl.jac
  jac/jaclang/byllm/impl/mtir.impl.jac
  jac/jaclang/byllm/llm.impl/basellm.impl.jac
  jac/jaclang/byllm/llm.jac
  jac/jaclang/byllm/mtir.jac
  jac/jaclang/byllm/tests/test_context.jac
  jac/jaclang/byllm/tests/test_context_render.jac
  jac/jaclang/cli/docs/reference/plugins/byllm.md
Due: jac-format, jac-check, ban-em-dashes
