Repository savini98/jaseci: changes, and which pre-commit hooks are due for each by the changed paths.
All: jac-format, jac-check, ban-em-dashes

jac-format:
  name: jac-format
  description: Format Jac files with consistent code style
  entry: env PYTHONPATH=jac python3 -m jaclang format
  language: python
  args:
  - --fix
  require_serial: true
  additional_dependencies:
  - llvmlite>=0.43.0

jac-check:
  name: jac-check
  description: Type check Jac files
  entry: env PYTHONPATH=jac python3 -m jaclang check --warnonly
  language: system
  require_serial: true

ban-em-dashes:
  name: Ban em-dashes (—)
  language: pygrep
  entry: —

Fix bug (#4348)
  jac/jaclang/cli/commands/impl/project.impl.jac
Due: jac-format, jac-check

add tests for super().__init__() in Jac compilation pipeline
  jac/jaclang/pycore/passes/pyast_gen_pass.py
  jac/jaclang/pycore/runtime.py
  jac/tests/compiler/passes/main/fixtures/super_init.py
  jac/tests/compiler/passes/main/fixtures/super_init_base.py
  jac/tests/compiler/passes/main/test_pyast_gen_pass.py
Due: none

fix: Correct handling of __init__ conversion for super() in PyastGenPass
  jac/jaclang/compiler/passes/main/impl/pyast_load_pass.impl.jac
  jac/jaclang/pycore/passes/pyast_gen_pass.py
Due: jac-format, jac-check

fix: Update format_spec check in PyastGenPass to ensure proper conversion handling
  jac/jaclang/pycore/passes/pyast_gen_pass.py
Due: none

[Fix] ES module export generation at compiler level for `:pub` declarations (#4365)
  docs/docs/community/release_notes/jaclang.md
  jac-client/jac_client/plugin/src/impl/compiler.impl.jac
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/jaclang/runtimelib/impl/hmr.impl.jac
  jac/tests/compiler/passes/ecmascript/fixtures/client_jsx.jac
  jac/tests/compiler/passes/ecmascript/fixtures/export_semantics.jac
  jac/tests/compiler/passes/ecmascript/test_esast_gen_pass.py
  jac/tests/runtimelib/fixtures/client_app.jac
  jac/tests/runtimelib/fixtures/client_app_with_import.jac
  jac/tests/runtimelib/fixtures/client_app_with_relative_import.jac
  jac/tests/runtimelib/fixtures/client_ui_components.jac
  jac/tests/runtimelib/fixtures/serve_api.jac
Due: jac-format, jac-check, ban-em-dashes

fix: Refactor kid construction in proc_class_def for improved clarity and maintainability
  jac/jaclang/compiler/passes/main/impl/pyast_load_pass.impl.jac
Due: jac-format, jac-check

mypy issue fix
  jac/jaclang/pycore/passes/pyast_gen_pass.py
Due: none

revert a change
  jac/jaclang/pycore/passes/pyast_gen_pass.py
Due: none

fix kid for
  jac/jaclang/compiler/passes/main/impl/pyast_load_pass.impl.jac
Due: jac-format, jac-check

release notes
  docs/docs/community/release_notes/jaclang.md
Due: ban-em-dashes

fstring fixes for pyast load pass
  jac/jaclang/compiler/passes/main/impl/pyast_load_pass.impl.jac
  jac/jaclang/pycore/unitree.py
Due: jac-format, jac-check

release notes update
  docs/docs/community/release_notes/jaclang.md
Due: ban-em-dashes

refactor: Redesign CLI dependency commands (#4503)
  docs/docs/community/release_notes/jac-client.md
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/cli/index.md
  docs/docs/reference/config/index.md
  docs/docs/reference/language/ecosystem.md
  jac-client/jac_client/tests/test_cli.py
  jac/jaclang/cli/commands/impl/project.impl.jac
  jac/jaclang/cli/commands/project.jac
  jac/jaclang/project/dependencies.jac
  jac/jaclang/project/impl/config.impl.jac
  jac/jaclang/project/impl/dependencies.impl.jac
  jac/tests/project/test_dependencies.py
Due: jac-format, jac-check, ban-em-dashes

( Type Checker ) Fix the invalid file path issue (#4498)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/imported.impl.jac
  jac/tests/langserve/fixtures/local_imports/main.jac
  jac/tests/langserve/fixtures/local_imports/mypkg_ns/my_mod.jac
  jac/tests/langserve/fixtures/local_imports/mypkg_reg/__init__.jac
  jac/tests/langserve/fixtures/local_imports/mypkg_reg/my_mod.jac
  jac/tests/langserve/test_server.py
Due: jac-format, jac-check, ban-em-dashes

Cache len() in lexer/parser hot paths to reduce startup overhead (#4607)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0.py
  jac/jaclang/jac0core/parser/impl/lexer.impl.jac
  jac/jaclang/jac0core/parser/impl/parser.impl.jac
  jac/jaclang/jac0core/parser/lexer.jac
  jac/jaclang/jac0core/parser/parser.jac
Due: jac-format, jac-check, ban-em-dashes

refactor: Implement TargetFactory for multi clients for minatinbilty and scalbilty (#4622)
  .jacignore
  docs/docs/community/release_notes/jac-client.md
  jac-client/jac_client/plugin/cli.jac
  jac-client/jac_client/plugin/src/desktop_config.jac
  jac-client/jac_client/plugin/src/targets/desktop_target.jac
  jac-client/jac_client/plugin/src/targets/impl/desktop_target.impl.jac
  jac-client/jac_client/plugin/src/targets/impl/pwa_target.impl.jac
  jac-client/jac_client/plugin/src/targets/impl/registry.impl.jac
  jac-client/jac_client/plugin/src/targets/impl/web_target.impl.jac
  jac-client/jac_client/plugin/src/targets/pwa_target.jac
  jac-client/jac_client/plugin/src/targets/registry.jac
  jac-client/jac_client/plugin/src/targets/web_target.jac
Due: jac-format, jac-check, ban-em-dashes

support horizontal scaling in k8s for jasaeci-pods (#4384)
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/targets/kubernetes/hpa/hpa.jac
  jac-scale/jac_scale/targets/kubernetes/hpa/impl/hpa.impl.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_config.jac
  jac-scale/jac_scale/targets/kubernetes/kubernetes_target.jac
  jac-scale/jac_scale/tests/test_deploy_k8s.py
Due: jac-format, jac-check, ban-em-dashes

fix(lexer): Disambiguate < comparison vs JSX tag and escape quotes in JSX text (#4652)
  .jacignore
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/ecmascript/impl/es_unparse.impl.jac
  jac/jaclang/jac0core/parser/impl/lexer.impl.jac
  jac/jaclang/jac0core/parser/lexer.jac
  jac/tests/compiler/passes/ecmascript/fixtures/jsx_lt_comparison_bug.cl.jac
  jac/tests/compiler/passes/ecmascript/fixtures/jsx_text_quotes_bug.cl.jac
  jac/tests/compiler/passes/ecmascript/test_js_generation.jac
Due: jac-format, jac-check, ban-em-dashes

test(es-codegen): comprehensive _jac runtime tests + fixes (#4674)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/jaclang/compiler/passes/ecmascript/jac_runtime_js.jac
  jac/tests/compiler/passes/ecmascript/fixtures/prim_jac_runtime.jac
  jac/tests/compiler/passes/ecmascript/test_prim_equivalence.jac
Due: jac-format, jac-check, ban-em-dashes

fix(lexer): handle bare < in JSX content as text (#4681)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0core/parser/impl/lexer.impl.jac
  jac/tests/language/fixtures/jsx_bare_lt_in_content.jac
  jac/tests/language/test_cli.jac
Due: jac-format, jac-check, ban-em-dashes

fix(esast): generate RPC stubs for sv import of def:pub functions (#4701)
  docs/docs/community/release_notes/jaclang.md
  docs/docs/tutorials/first-app/build-ai-day-planner.md
  jac/jaclang/compiler/passes/ecmascript/esast_gen_pass.jac
  jac/jaclang/compiler/passes/ecmascript/impl/esast_gen_pass.impl.jac
  jac/tests/compiler/passes/ecmascript/fixtures/separated_defpub.jac
  jac/tests/compiler/passes/ecmascript/fixtures/separated_defpub_client.cl.jac
  jac/tests/compiler/passes/ecmascript/test_js_generation.jac
Due: jac-format, jac-check, ban-em-dashes

docs: improve AI Day Planner tutorial Part 2 (#4708)
  docs/docs/community/release_notes/jac-client.md
  docs/docs/tutorials/first-app/build-ai-day-planner.md
  jac-client/jac_client/plugin/plugin_config.jac
Due: jac-format, jac-check, ban-em-dashes

docs: improve documentation based on tutorial QA review (#4727)
  docs/docs/quick-guide/faq.md
  docs/docs/quick-guide/install.md
  docs/docs/quick-guide/syntax-cheatsheet.md
  docs/docs/reference/config/index.md
  docs/docs/reference/language/ai-integration.md
  docs/docs/reference/language/foundation.md
  docs/docs/tutorials/ai/quickstart.md
  docs/docs/tutorials/first-app/build-ai-day-planner.md
  docs/docs/tutorials/fullstack/auth.md
  docs/docs/tutorials/fullstack/backend.md
  docs/docs/tutorials/fullstack/routing.md
  docs/docs/tutorials/language/basics.md
  docs/docs/tutorials/language/osp.md
  docs/docs/tutorials/production/kubernetes.md
Due: ban-em-dashes

Improve HMR server-side reloading (#4565)
  docs/docs/community/release_notes/jac-client.md
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/runtimelib/hmr.jac
  jac/jaclang/runtimelib/impl/hmr.impl.jac
  jac/jaclang/runtimelib/impl/testing.impl.jac
  jac/jaclang/runtimelib/testing.jac
  jac/tests/runtimelib/test_hmr_client.jac
Due: jac-format, jac-check, ban-em-dashes

chore: clean up docs navigation and remove stale content (#4741)
  docs/.gitignore
  docs/docs/tutorials/examples/emailbuddy.md
  docs/docs/tutorials/examples/index.md
  docs/docs/tutorials/examples/littlex.md
  docs/docs/tutorials/examples/rag-chatbot.md
  docs/docs/tutorials/examples/rpg.md
  docs/docs/tutorials/troubleshooting.md
  docs/mkdocs.yml
  docs/scripts/handle_jac_compile_data.py
  scripts/top_contributors.jac
  scripts/top_voices.jac
Due: jac-format, jac-check, ban-em-dashes

fix: early sys.path setup for vendored modules (#4756)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/__init__.py
  jac/tests/langserve/test_server.jac
Due: jac-format, jac-check, ban-em-dashes

feat: implement adjacency matrix operations and serialization for MongoDB integration
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac-scale/jac_scale/memory_hierarchy.jac
  jac/jaclang/jac0core/archetype.jac
  jac/jaclang/jac0core/impl/archetype.impl.jac
  jac/jaclang/jac0core/passes/impl/pyast_gen_pass.impl.jac
  jac/jaclang/jac0core/runtime.jac
Due: jac-format, jac-check

feat: add C library import syntax for native codespace (#4771)
  docs/docs/community/release_notes/jaclang.md
  docs/docs/reference/language/appendices.md
  docs/docs/reference/language/foundation.md
  docs/docs/reference/language/functions-objects.md
  jac/jaclang/compiler/passes/native/impl/na_compile_pass.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/calls.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/core.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/func.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.impl/types.impl.jac
  jac/jaclang/compiler/passes/native/na_ir_gen_pass.jac
  jac/jaclang/jac.spec
  jac/jaclang/jac0core/impl/unitree.impl.jac
  jac/jaclang/jac0core/parser/impl/parser.impl.jac
  jac/jaclang/jac0core/unitree.jac
  jac/tests/compiler/passes/native/fixtures/clib_import.na.jac
  jac/tests/compiler/passes/native/fixtures/clib_import_na_block.jac
  jac/tests/compiler/passes/native/fixtures/clib_struct_coerce.na.jac
  jac/tests/compiler/passes/native/test_native_gen_pass.jac
Due: jac-format, jac-check, ban-em-dashes

feat(jac-mcp): bundle documentation resources for PyPI installs (#4799)
  .github/workflows/release-mcp.yml
  .gitignore
  jac-mcp/jac_mcp/impl/resources.impl.jac
  jac-mcp/jac_mcp/resources.jac
  jac-mcp/pyproject.toml
Due: jac-format, jac-check

Add pre-commit hook to block AI co-author attribution (#5098)
  .github/workflows/no-ai-coauthor.yml
  .pre-commit-config.yaml
Due: none

Fix: Preserve user string output in console without ANSI modifications (#5095)
  .jacignore
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/cli/impl/console.impl.jac
  jac/jaclang/cli/impl/jacpretty.impl.jac
  jac/jaclang/cli/jacpretty.jac
  jac/tests/language/fixtures/console_edge_cases.jac
  jac/tests/language/test_console.jac
  jac/tests/language/test_jacpretty.jac
Due: jac-format, jac-check, ban-em-dashes

release: jaclang 0.12.1, jac-byllm 0.5.6, jac-client 0.3.5, jac-scale 0.2.5, jac-super 0.1.7, jac-mcp 0.1.4, jaseci 2.3.5 (#5111)
  .github/workflows/publish-release.yml
Due: none

feat: Production-grade client error reporting with exact source mapping (#5152)
  docs/docs/community/release_notes/jac-client.md
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/community/release_notes/jaclang.md
  jac-client/jac_client/plugin/src/impl/compiler.impl.jac
  jac-client/jac_client/plugin/src/impl/vite_bundler.impl.jac
  jac-scale/jac_scale/impl/serve.core.impl.jac
  jac/jaclang/compiler/passes/ecmascript/es_unparse.jac
  jac/jaclang/compiler/passes/ecmascript/impl/es_unparse.impl.jac
  jac/jaclang/runtimelib/impl/server.impl.jac
  jac/jaclang/runtimelib/source_mapping.jac
  jac/tests/runtimelib/test_client_error_reporting.jac
  jac/tests/runtimelib/test_source_mapping.jac
Due: jac-format, jac-check, ban-em-dashes

fix: JIR cache version invalidation and W2001 kwarg false positives (#5202)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/static_analysis_pass.impl.jac
  jac/jaclang/jac0core/jir.jac
  jac/tests/langserve/test_server.jac
Due: jac-format, jac-check, ban-em-dashes

fix: JIR cache losing Archetype body data for generic type inference (#5204)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/jac0core/gen_jir_registry.jac
  jac/jaclang/jac0core/jir.jac
  jac/jaclang/jac0core/jir_registry.jac
  jac/tests/language/test_cli.jac
Due: jac-format, jac-check, ban-em-dashes

Fix: Prevent unnecessary saves in ScaleTieredMemory (#5120)
  docs/docs/community/release_notes/jac-scale.md
  docs/docs/community/release_notes/jaclang.md
  jac-scale/jac_scale/impl/memory_hierarchy.main.impl.jac
  jac-scale/jac_scale/impl/memory_hierarchy.mongo.impl.jac
  jac-scale/jac_scale/memory_hierarchy.jac
  jac-scale/jac_scale/tests/fixtures/todo_app.jac
  jac-scale/jac_scale/tests/test_memory_hierarchy.jac
  jac/jaclang/jac0core/archetype.jac
  jac/jaclang/jac0core/impl/archetype.impl.jac
  jac/jaclang/jac0core/impl/runtime.impl.jac
Due: jac-format, jac-check, ban-em-dashes

feat: OR short-circuit type narrowing in type checker (#5274)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/main/impl/type_checker_pass.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.impl/type_evaluator.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_type_narrowing.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: jac-format, jac-check, ban-em-dashes

fix: resolve star re-exported symbols in type checker (#5310)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/type_system/type_evaluator.impl/imported.impl.jac
  jac/jaclang/compiler/type_system/type_evaluator.jac
  jac/tests/compiler/passes/main/fixtures/checker/checker_stdlib_star_reexport.jac
  jac/tests/compiler/passes/main/test_checker_pass.jac
Due: jac-format, jac-check, ban-em-dashes

Harden K8s sandbox pod security context, SA token, and storage limits (#5331)
  docs/docs/community/release_notes/jac-scale.md
  jac-scale/jac_scale/abstractions/models/sandbox_config.jac
  jac-scale/jac_scale/providers/sandbox/kubernetes_sandbox.jac
  jac-scale/jac_scale/targets/kubernetes/templates/sandbox-base.Dockerfile
  jac-scale/jac_scale/tests/test_sandbox_factory.jac
Due: jac-format, jac-check, ban-em-dashes

fix: remove invalid escape sequence in ES private identifier generator (#5341)
  docs/docs/community/release_notes/jaclang.md
  jac/jaclang/compiler/passes/ecmascript/impl/es_unparse.impl.jac
  jac/tests/compiler/passes/ecmascript/test_js_generation.jac
Due: jac-format, jac-check, ban-em-dashes

Path conditions:
  jac-format: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)
)
  jac-check: any of: \.jac$ and not ((/fixtures/|_err\.jac$|_syntax_err\.jac$|jac-client/jac_client/examples/)) and not ((?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)
)
  ban-em-dashes: any of: \.(md|markdown|mdown)$, but not: (?x)(
    ^jac/jaclang/vendor/|
    ^jac/jaclang/pycore/lark_jac_parser\.py$|
    ^jac/jaclang/pycore/lark_ts_parser\.py$|
    ^$
)

